/* .MuiTableCell-head {
    font-weight: bold !important;
    background-color: white !important;
    padding:unset !important;
  }
  
  .ForwardRef-root-2 {
    height: 40px !important;
  }
  
  .MuiTableCell-root {
    font-size: 0.875rem !important;
  }
  
  .MuiTableCell-stickyHeader {
    font-size: 0.875rem !important;
    padding: 10px !important;
    word-spacing: 6vw;

    
  } */