.MuiInput-underline:after{
 border-bottom: 2px solid #FF5000 !important;
    ;
}

.MuiFormLabel-root.Mui-focused{
    color: #FF5000 !important;
}
.css-z2eky3-MuiTypography-root {
    margin-bottom: 0px !important;
}